<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>EducaTN</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="styleArticle.css" rel="stylesheet"> >
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="index.ejs">EducaTN</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Accueil</a></li>
                    <li><a class="nav-link scrollto" href="#about">A propos</a></li>
                    <li><a class="nav-link scrollto" href="#services">Départements</a></li>
                    <li class="nav-link scrollto"><a href="#VieA"><span>Vie associative</span></a></li>
                    <li class="nav-link scrollto"><a href="#article"><span>A la une</span></a></li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    <li><a class="nav-link scrollto" href="#faq">FAQ</a></li>
                    <li><a class="getstarted scrollto" href="/login">Connectez-vous</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->

        </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h1>EducaTN</h1>
                    <h2>Plateforme éducative tunisienne créée par
                        <br>Mayssa Mathlouthi et Zeineb Smidi</h2>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a href="https://meet.google.com/rxm-yohs-rja" class="btn-get-started scrollto">Co-working space</a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

    </section>
    <!-- End Hero -->

    <main id="main">

        <!-- ======= Cliens Section ======= -->
        <section id="cliens" class="cliens section-bg">
            <div class="container">
                <div class="row" data-aos="zoom-in">
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    </div>
                </div>
            </div>
        </section>
        <!-- End Cliens Section -->

        <!-- ======= About Us Section ======= -->

        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Ecole Nationale d'Ingénieurs de Tunis</h2>
                </div>

                <div class="row content">
                    <div class="col-lg-6">
                        <p>
                            Fondée vers la fin des années soixante (loi N° 4161 du 31/12/1968), l’ENIT est la doyenne des écoles d’ingénieurs de Tunisie. Le fondateur -et premier directeur de l’ENIT- est M. Mokhtar LAATIRI , ingénieur et haut fonctionnaire tunisien. Depuis sa création,
                            l'ENIT n’a cessé d’être investie de missions nationales déterminantes. Polytechnique de vocation, elle a fourni au jeune état tunisien qui venait de recouvrir son indépendance, ses hauts cadres techniques qui ont jeté les bases
                            de l'infrastructure civile et industrielle (production électrique, usines, barrages, réseaux routiers, ouvrages, etc.). De telles infrastructures ont largement contribué à assoir les ressorts du développement économique de
                            la Tunisie d'aujourd’hui.
                        </p>
                        <br>

                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <p> Ainsi, l’ENIT, aujourd’hui, conduit trois missions complémentaires :</p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Formation diplômantes des ingénieurs dans des métiers répondant aux besoins réels ou potentiels du marché.</li>
                            <li><i class="ri-check-double-line"></i> Formation permanente et à distance permettant d'aiguiser les performances des ingénieurs en exercice.</li>
                            <li><i class="ri-check-double-line"></i> Recherche, innovation et transfert du savoir-faire par la valorisation et l’entrepreneuriat technologiques.</li>

                        </ul>
                    </div>
                </div>

            </div>
        </section>
        <!-- End About Us Section -->


        <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Départements</h2>
                    <p>L'Ecole Nationale d'Ingénieurs de Tunis compte aujourd'hui neuf filières réparties sur cinq départements</p>
                </div>

                <div class="row">
                    <div class="tout col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bxl-dribbble"></i></div>
                            <h4><a href="">Département de Génie Civil</a></h4>
                            <p>La formation des ingénieurs GC à l’ENIT se veut ouverte sur tous les métiers de la construction actuels et futurs. </p>
                        </div>
                    </div>

                    <div class="tout col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-file"></i></div>
                            <h4><a href="">Département de Génie Mécanique</a></h4>
                            <p>La formation d’Ingénieur Génie Mécanique de l’ENIT permet d’acquérir de divers compétences scientifiques et techniques qualifiées de transversales : modélisation mathématique et programmation informatique, conception mécanique
                                et Mécanique Numérique.</p>
                        </div>
                    </div>

                    <div class="tout col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-tachometer"></i></div>
                            <h4><a href="">Département de Génie Electrique</a></h4>
                            <p>La formation d’Ingénieur Génie Electrique de l’ENIT a pour objectif de donner aux futurs ingénieurs une formation scientifique et technique, tant sur le plan théorique que pratique. </p>
                        </div>
                    </div>

                    <div class="ligne tout col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-layer"></i></div>
                            <h4><a href="">Département de Génie Industriel</a></h4>
                            <p>L’ingénieur Génie Industriel a un métier atypique positionné à la charnière de la technologie et de la gestion industrielle.</p>
                        </div>
                    </div>

                    <div class="ligne emplacement col-xl-3 mx-auto col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-layer"></i></div>
                            <h4><a href="">Département des Technologies de l'Information et de la Communication</a></h4>
                            <p>La filière informatique de l’ENIT ont pour objectif de former des Ingénieurs capables de mettre en œuvre des compétences scientifiques, techniques et professionnelles solides dans le domaine de l'informatique en particulier,
                                et des Technologies de l'Information et de la Communication en général.</p>
                        </div>
                    </div>


                </div>

            </div>
        </section>
        <!-- End Services Section -->

        <!-- ======= Vie associative Section ======= -->
        <section id="VieA" href="#article" class="services section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Vie associative</h2>
                    <p>Afin de dynamiser la vie étudiante à l'ENIT, les clubs et les associations te feront découvrir leurs activités.</p>
                </div>
                <div class="row">
                    <div class="tout emplacement col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-layer"></i></div>
                            <h4><a href="">ADENIT</a></h4>
                            <p>L'ADENIT vise à assurer les liens de contact et contribuer pour le développement de l'école et son rayonnement et l'appui pour préserver le niveau intellectuel des diplômés et les intégrer à la vie professionnelle </p>
                            <div class="social-links mt-3">
                                <a href="https://www.facebook.com/adenit.officiel" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="http://adenit.com.tn/page/homepage/" class="instagram"><i class="bx bxl-dribbble"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="tout emplacement col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-layer"></i></div>
                            <h4><a href="">IAESTE</a></h4>
                            <p>L’ IAESTE est un corps apolitique à caractère non gouvernemental, entretenant des relations consultatives avec des organismes Onusiens. L'association a permis, depuis sa création l'échange de 250.000 étudiants à travers le
                                monde.
                            </p>
                            <div class="social-links mt-3">
                                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a href="https://www.facebook.com/iaeste.tunisia" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="https://www.instagram.com/iaeste_tunisia/?fbclid=IwAR2Mfb5xQUwlM3SC3Jgb1-9BbdKa6GDFNq9yf5qOCJYxnuidsm9rTvQoefw" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a href="http://www.iaeste.tn/" class="instagram"><i class="bx bxl-dribbble"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="tout emplacement col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-layer"></i></div>
                            <h4><a href="">ENIT Junior Entreprise</a></h4>
                            <p>La Junior Entreprise est un organisme à but non lucratif, formée et gérée intégralement par des étudiants de son établissement.Cette dernière permet aux étudiants de mettre en pratique les compétences techniques dans le but
                                de les intégrer dans le monde professionnel.</p>
                            <div class="social-links mt-3">
                                <a href="https://www.facebook.com/juniorenit" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="https://www.instagram.com/enit.juniorentreprise/" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a href="http://enitjuniorentreprise.tn/" class="instagram"><i class="bx bxl-dribbble"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="tout emplacement col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-layer"></i></div>
                            <h4><a href="">FabLab ENIT</a></h4>
                            <p>C'est un open space, accessible à tout étudiant souhaitant fabriquer des produits, quelles que soient son expertise et son expertise technique et scientifique. Le but de la création d'un tel espace à l'ENIT est de démocratiser
                                la fabrication numérique et personnelle, d'encourager la créativité individuelle.</p>
                            <div class="social-links mt-3">
                                <a href="https://www.facebook.com/FabLabENIT/" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="https://www.fablabs.io/labs/fablabenit" class="instagram"><i class="bx bxl-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="tout emplacement col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-layer"></i></div>
                            <h4><a href="">IEEE ENIT Student Branch</a></h4>
                            <p>IEEE ENIT Student Branch a été créée le 24 mai 2005 dans le but de promouvoir les activités de l'IEEE en Tunisie et d'offrir aux étudiants ingénieurs l'opportunité d'être à la pointe des dernières innovations technologiques.</p>
                            <div class="social-links mt-3">
                                <a href="https://www.facebook.com/ieee.enit.sb" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="https://www.instagram.com/ieeeenitsb/?fbclid=IwAR0OvqMBW8ToLtfrySUpSCaza98fOZVL98msSEf7ZUn75HnT-5ZByaRmVYQ" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a href="http://www.enit.ieee.tn/" class="instagram"><i class="bx bxl-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="tout emplacement col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-layer"></i></div>
                            <h4><a href="">ENIT ECOCAR</a></h4>
                            <p>ENIT Ecocar a la 1ère équipe Tunisienne participant à la compétition internationale SHELL ECOMARATHON depuis 2014. Elle est classée 29ième mondiale et 1ère sur l’échelle africaine et arabe lors de l’édition Londres 2016.
                            </p>

                            <div class="social-links mt-3">
                                <a href="https://www.facebook.com/Enit.Ecocar/?ref=page_internal" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="https://www.linkedin.com/in/enit-ecocar-979148161/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="tout emplacement col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-layer"></i></div>
                            <h4><a href="">AEROSPACE</a></h4>
                            <p> L'ENIT AeroSpace Club permet aux jeunes passionés de partager la richesse de cette discipline qu’est l’aéromodélisme à travers plusieurs activités.
                            </p>

                            <div class="social-links mt-3">
                                <a href="https://www.facebook.com/Aerospace.ENIT" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="https://tn.linkedin.com/in/enit-aerospace-club/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                                <a href="http://enitaerospace.tn/" class="instagram"><i class="bx bxl-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="tout emplacement col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-layer"></i></div>
                            <h4><a href="">ENACTUS</a></h4>
                            <p>Enactus ENIT est une communauté étudiante qui regroupe de futurs ingénieurs motivés à créer un changement positif dans leur environnement.</p>

                            <div class="social-links mt-3">
                                <a href="https://www.facebook.com/EnactusENITunis" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="https://www.instagram.com/enactus_enit/?fbclid=IwAR2eT0So9dyw8IPSaoD_cgxvghi_ZlAxp9GGj_PUJ61w-70ISyEujCy8BO0" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a href="http://enactus.org/" class="instagram"><i class="bx bxl-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="tout emplacement mx-auto col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-layer"></i></div>
                            <h4><a href="">ARTS</a></h4>
                            <p>L'ENIT Arts Club est une des structures les plus atypiques de l'ENIT. C'est l'unique club à vocation artistique présent au sein de l'école et à travers lequel les étudiants peuvent révéler au grand jour leurs talents et passions.</p>

                            <div class="social-links mt-3">
                                <a href="https://www.facebook.com/ENIT.ArtsClub" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="https://instagram.com/enit.arts.club?igshid=115z8bpdabvu8" class="instagram"><i class="bx bxl-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="tout emplacement mx-auto col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-layer"></i></div>
                            <h4>
                                <a href="">Clubs des départements</a>
                            </h4>
                            <p>L'ADENIT vise à assurer les liens de contact et contribuer pour le développement de l'école et son rayonnement et l'appui pour préserver le niveau intellectuel des diplômés et les intégrer à la vie professionnelle </p>

                            <div class="social-links mt-3">
                                <a href="http://www.enit.rnu.tn/fr/diverses/clubs.php" class="instagram"><i class="bx bxl-dribbble"></i></a>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </section>
        <!-- End Vie associative Section -->
        <!-- ======= Article Section ======= -->
        <section id="article" href="Article" class="services section-bg">
            <div class="section-title">
                <h2>A la Une</h2>
            </div>

            <div class="container">


                <% Listearticle.forEach(article => {%>
                    <h2 class="titreArticle">
                        <%= article.username%>
                    </h2>
                    <p class="container aricle">
                        <%= article.description%>
                    </p>

                    <% }) %>
            </div>



        </section>
        <!-- ======= End Article Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Vous pouvez nous contacter en remplissant ce formulaire.</p>
                </div>

                <div class="row">

                    <div class="col-lg-5 d-flex align-items-stretch">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Adresse:</h4>
                                <p>Rue Bechir Salem Belkhiria Campus Universitaire Farhat HACHED el MANAR</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>webmaster@educatn.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Tel:</h4>
                                <p>(216) 27 33 99 31</p>
                            </div>

                            <div class="mapouter">
                                <div class="gmap_canvas"><iframe width="450" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=manar1%20enit&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><br>
                                    <style>
                                        .mapouter {
                                            position: relative;
                                            text-align: left;
                                            height: 500px;
                                            width: 600px;
                                        }
                                    </style><a href="https://www.embedgooglemap.net">google maps on web site</a>
                                    <style>
                                        .gmap_canvas {
                                            overflow: hidden;
                                            background: none!important;
                                            height: 500px;
                                            width: 600px;
                                        }
                                    </style>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">Nom</label>
                                    <input type="text" name="name" class="form-control" id="name" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name">Adresse</label>
                                    <input type="email" class="form-control" name="email" id="email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Sujet</label>
                                <input type="text" class="form-control" name="subject" id="subject" required>
                            </div>
                            <div class="form-group">
                                <label for="name">Message</label>
                                <textarea class="form-control" name="message" rows="10" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Chargement</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Votre message a été envoyé. Merci beaucoup!</div>
                            </div>
                            <div class="text-center"><button type="submit">Envoyer Message</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Contact Section -->

        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Frequently Asked Questions</h2>

                </div>

                <div class="faq-list">
                    <ul>
                        <li data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Comment accéder au calendrier? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                                <p>
                                    Connectez-vous avec l'adresse et le mot de passe fournis par l'administration de votre école.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Comment accéder au co-working space? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Cliquez sur le bouton co-working space et accédez à la réunion avec l'adresse mail fournie par votre école .
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Comment ajouter un devoir? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Vous devez être professeur pour bénéficier de ce service.
                                </p>
                            </div>
                        </li>



                    </ul>
                </div>

            </div>
        </section>
        <!-- End Frequently Asked Questions Section -->

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">



        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">

                        <p>
                            Rue Bechir Salem Belkhiria Campus Universitaire Farhat HACHED el MANAR <br><br>
                            <strong>Phone:</strong> +216 27 33 99 31<br>
                            <strong>Email:</strong> zm@educatn.com<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">


                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">

                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Réseaux sociaux</h4>
                        <p></p>
                        <div class="social-links mt-3">

                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>

                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container footer-bottom clearfix">
            <div class="copyright">

            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->

            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>


</html>